<div id="map"></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiamF5ZXNocGF0aWw4MDQxIiwiYSI6ImNsNWZtOGxwazBzYXEzYnIzeThtdW5xZ2sifQ.7dd1IUtD38OzPug6gGkvWA';
      const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/outdoors-v11',
        center: [25.729556721425013,62.86179635383667],
        zoom: 2
      });
      
      map.on('load', () => {
          map.addSource('places', {
          'type': 'geojson',
          'data': "../.././europe.geojson"
      });
      
      map.addLayer({
        'id': 'places',
        'type': 'fill',
        'source': 'places',
        'paint': {
          'fill-color': '#f53708',
          'fill-opacity': 0.4
        },
        'filter': ['==', '$type', 'Polygon']
      });

      map.on('click', 'places', (e) => {

        properties = e.features[0].properties;
        desc = '<strong>Details</strong>';
        desc += "</br><strong>SOVEREIGNT: </strong>" + properties.SOVEREIGNT;
        desc += "</br><strong>FORMAL_EN: </strong>" + properties.FORMAL_EN;
        desc += "</br><strong>NAME_LONG: </strong>" + properties.NAME_LONG;
        desc += "</br><strong>ECONOMY: </strong>" + properties.FORMAL_EN;
        desc += "</br><strong>GDP_MD: </strong>" + properties.GDP_MD;
        desc += "</br><strong>GDP_YEAR: </strong>" + properties.GDP_YEAR;
        desc += "</br><strong>ECONOMY: </strong>" + properties.ECONOMY;

        new mapboxgl.Popup()
        .setLngLat(e.lngLat)
        .setHTML(desc)
        .addTo(map);
      });
      
      // Change the cursor to a pointer when the mouse is over the places layer.
      map.on('mouseenter', 'places', () => {
        map.getCanvas().style.cursor = 'pointer';
      });
      
      // Change it back to a pointer when it leaves.
      map.on('mouseleave', 'places', () => {
        map.getCanvas().style.cursor = '';
      });

  });
</script>